.code-text{
	-fx-background-color: #666666;
	-fx-font-size:25px;
	-fx-text-fill:#CCCCFF
}

.commit-button{
    -fx-text-fill: #006464;

    -fx-background-color: #9999CC;

    -fx-border-radius: 20;

    -fx-background-radius: 20;

    -fx-padding: 5;
}

.gridPane {
    -fx-background-color:#333333;
    -fx-opacity: 0.6;
}

.wrongLabel{
    -fx-background-color: #666666;
    -fx-font-size:25px;
    -fx-text-fill:#CCCCFF
}

.successLabel{
    -fx-background-color:#999999;
    -fx-text-fill:#66CC00;
    -fx-opacity: 0.7;
}